<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/image.png' %}" alt="いじゅナビ ロゴ">


        <p class="message">話すだけで、<br>「ぴったりの街」と出会える</p>
        <a href="{% url 'login' %}" class="button login-button">ログイン</a>
        <a href="{% url 'signup' %}" class="button signup-button">新規登録</a>
    </div>
</body>
</html>