<!DOCTYPE html>
<html>
<head>
    <title>登録完了</title>

    {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
    rel="stylesheet"
  >
</head>
<body>
    <p>登録が完了しました。</p>
    <a href="{% url 'login' %}">ログインページへ</a>
</body>
</html>
