<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
    <div class="container">
        <div class="logo">
            <img src="{% static 'img/image.png' %}" alt="いじゅナビロゴ">
        </div>
        <h1>新規登録</h1>
        <form action="{% url 'signup' %}" method="post" class="form-div">
          {% csrf_token %}
            <div class="form-group">
                {{ signin_form.email.label_tag }}
                <br>
                {{ signin_form.email }}
                {{ signin_form.email.errors }}
            </div>
            <div class="form-group">
                {{ signin_form.password.label_tag }}
                <br>
                {{ signin_form.password }}
                {{ signin_form.password.errors }}
            </div>
            <div class="form-group">
                {{ signin_form.confirm_password.label_tag }}
                <br>
                {{ signin_form.confirm_password }}
                {{ signin_form.confirm_password.errors }}
            </div>
            
            <div>
                {{ signin_form.password1.label_tag }}
                {{ signin_form.password1 }}

                {% if signin_form.password1.errors %}
                    <div style="color:red;">
                        {% for error in signin_form.password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="button signup-button">新規登録</button>
        </form>
    </div>
    </main>

    <footer class="app-footer">
        <nav aria-label="ボトムタブ">
        <ul class="bottom-nav">
            <li><a href="{% url 'chat' %}" aria-current="page">chat</a></li>
            <li><a href="{% url 'signup' %}">sign up</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
        </ul>
        </nav>
    </footer>

</body>
</html>