<!DOCTYPE html>
<html>
<head>
    <title>トークン有効期限切れ</title>

    {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
    rel="stylesheet"
  >
</head>

<body>
    <h1>リンクの有効期限が切れています</h1>
    <p>リンクの有効期限は10分です。もう一度登録してください。</p>
    <a href="{% url 'signup' %}">新規登録ページに戻る</a>
</body>
</html>
