<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'img/image.png' %}" alt="いじゅナビロゴ">
        </div>
        <h1>ログイン</h1>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <form action="{% url 'login' %}" method="POST" class="form-div">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <button type="submit" class="button login-button">ログイン</button>
        </form>
        
        <a href="{% url 'password_reset' %}">パスワードを忘れた場合はこちら</a>

    </div>
</body>
</html>