<!DOCTYPE html>
<html lang="ja">
<head>
    <title>パスワード再設定完了</title>

    {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
    rel="stylesheet"
  >
</head>

<body>
    <p>パスワードが再設定されました。</p>
    <a href="/accounts/login/">ログインへ戻る</a>
</body>
</html>